{% extends 'base.html.twig' %}

{% block title %}SmartTV Remote{% endblock %}

{% block body %}
    <div class="mx-auto max-w-5xl">
        <div class="bg-[#1B1B1D] w-[477px] mx-auto rounded-xl p-6">

            <div class="rounded-xl bg-[#0E0E0E] px-[80px] py-6 mb-12 text-center text-xl uppercase">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %}
                    Press a Button
                {% endfor %}
            </div>

            <form method="post">
                <div class="flex justify-center mb-5">
                    <button name="button" value="power" class="flex rounded-full border border-[#3F4241] hover:border-[#C33E21] w-[100px] h-[100px] justify-center items-center focus:bg-[#C33E21] group">
                        <twig:ux:icon name="power" width="184" height="184" class="fill-[#C33E21] group-focus:fill-[#ffffff]" />
                    </button>
                </div>
                <div class="flex justify-center">
                    <ul class="grid grid-cols-2 row-span-3 gap-8">
                        <li>
                            <button name="button" value="channel-up" class="flex rounded-full border border-[#3F4241] hover:border-white w-[80px] h-[80px] justify-center items-center focus:bg-[#ffffff] group">
                                <twig:ux:icon name="channel-up" width="36" height="36" class="fill-white group-focus:fill-[#0E0E0E]" />
                            </button>
                        </li>
                        <li>
                            <button name="button" value="channel-down" class="flex rounded-full border border-[#3F4241] hover:border-white w-[80px] h-[80px] justify-center items-center focus:bg-[#ffffff] group">
                                <twig:ux:icon name="channel-down" width="36" height="36" class="fill-white group-focus:fill-[#0E0E0E]" />
                            </button>
                        </li>
                        <li>
                            <button name="button" value="volume-up" class="flex rounded-full border border-[#3F4241] hover:border-white w-[80px] h-[80px] justify-center items-center focus:bg-[#ffffff] group">
                                <twig:ux:icon name="volume-up" width="36" height="36" class="fill-white group-focus:fill-[#0E0E0E]" />
                            </button>
                        </li>
                        <li>
                            <button name="button" value="volume-down" class="flex rounded-full border border-[#3F4241] hover:border-white w-[80px] h-[80px] justify-center items-center focus:bg-[#ffffff] group">
                                <twig:ux:icon name="volume-down" width="36" height="36" class="fill-white group-focus:fill-[#0E0E0E]" />
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
            <div class="flex justify-center pt-16">
                <a href="https://symfonycasts.com/" target="_blank">
                    <svg width="84" height="84" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M97.9871 87.9207C97.9871 88.4045 97.7797 88.7662 97.3666 89.0058L88.2679 94.2271C87.8547 94.4683 87.44 94.4683 87.0269 94.2271C86.6137 93.986 86.4064 93.6243 86.4064 93.142V82.3891C86.4064 81.9069 86.6137 81.5452 87.0269 81.304C87.44 81.0629 87.8547 81.0629 88.2679 81.304L97.3666 86.8356C97.7797 87.0767 97.9871 87.4384 97.9871 87.9207ZM102.458 94.1757C101.303 96.1401 99.7442 97.6987 97.7797 98.8544C95.8153 100.009 93.6774 100.587 91.3704 100.587C89.0604 100.587 86.9254 100.009 84.961 98.8544C82.9966 97.6987 81.4365 96.1401 80.2822 94.1757C79.1265 92.2113 78.5501 90.0748 78.5501 87.7663C78.5501 85.4578 79.1265 83.3214 80.2822 81.3569C81.4365 79.3925 82.9966 77.8339 84.961 76.6782C86.9254 75.524 89.0619 74.9461 91.3704 74.9461C93.6789 74.9461 95.8153 75.524 97.7797 76.6782C99.7442 77.8339 101.303 79.3925 102.458 81.3569C103.613 83.3214 104.191 85.4593 104.191 87.7663C104.191 90.0748 103.613 92.2113 102.458 94.1757ZM82.4275 92.9362C83.3583 94.5212 84.6154 95.7799 86.2005 96.7091C87.7856 97.6399 89.5089 98.1045 91.3704 98.1045C93.2319 98.1045 94.9537 97.6399 96.5402 96.7091C98.1253 95.7784 99.3839 94.5212 100.313 92.9362C101.244 91.3511 101.709 89.6278 101.709 87.7663C101.709 85.9048 101.244 84.1815 100.313 82.5965C99.3824 81.0114 98.1238 79.7528 96.5402 78.8235C94.9537 77.8927 93.2319 77.4281 91.3704 77.4281C89.5089 77.4281 87.7856 77.8927 86.2005 78.8235C84.614 79.7542 83.3568 81.0129 82.4275 82.5965C81.4968 84.1815 81.0321 85.9048 81.0321 87.7663C81.0321 89.6278 81.4968 91.3511 82.4275 92.9362ZM37.284 79.9601C37.6119 80.2703 37.7751 80.6497 37.7751 81.0967V94.3815C37.7751 94.8653 37.6119 95.2608 37.284 95.5711C36.9561 95.8813 36.5679 96.0357 36.121 96.0357C35.7769 96.0357 35.4666 95.9328 35.1902 95.7255L29.5043 92.2098V95.2079C29.5043 95.8975 29.2455 96.4827 28.7294 96.965C28.2118 97.4487 27.5737 97.6884 26.8164 97.6884H10.6878C9.92913 97.6884 9.29246 97.4473 8.77489 96.965C8.25732 96.4827 8 95.8975 8 95.2079V80.3218C8 79.6322 8.25879 79.047 8.77489 78.5647C9.29246 78.0824 9.92913 77.8413 10.6878 77.8413H26.8164C27.5737 77.8413 28.2118 78.0824 28.7294 78.5647C29.2469 79.0484 29.5043 79.6337 29.5043 80.3218V83.3199L35.1902 79.8042C35.4666 79.5969 35.7754 79.494 36.121 79.494C36.5679 79.4954 36.9561 79.6498 37.284 79.9601ZM27.0223 80.3747C26.9884 80.3409 26.9193 80.3233 26.8149 80.3233H10.6878C10.6187 80.3233 10.5496 80.3409 10.4805 80.3747V95.1594C10.5143 95.1932 10.5835 95.2108 10.6878 95.2108H26.8164C26.8855 95.2108 26.9532 95.1932 27.0237 95.1594V80.3747H27.0223ZM35.2931 82.6479L29.5028 86.2665V89.2646L35.2931 92.8832V82.6479ZM53.2729 90.5571C54.5477 92.7288 56.2195 94.4521 58.2869 95.7269V79.7028L50.8953 82.8038C51.1012 85.699 51.8937 88.2824 53.2729 90.5571ZM70.2793 79.7542C70.0029 79.3411 69.6235 79.0485 69.1427 78.8749L59.2176 74.7388C58.5971 74.4623 57.9766 74.4623 57.3561 74.7388L47.4311 78.8749C46.9473 79.0485 46.5695 79.3396 46.2945 79.7542C46.0181 80.1674 45.8813 80.6335 45.8813 81.1496C45.8813 84.3889 46.4665 87.4384 47.6384 90.2998C48.6721 92.8509 50.1013 95.0741 51.929 96.9679C53.5831 98.725 55.3917 99.9998 57.3561 100.794C57.9766 101.069 58.5971 101.069 59.2176 100.794C60.9394 100.104 62.5936 98.9853 64.1802 97.434C66.0755 95.5725 67.5914 93.4023 68.7295 90.9203C70.0381 87.956 70.6939 84.7006 70.6939 81.1496C70.6925 80.632 70.5542 80.1674 70.2793 79.7542ZM66.7121 89.2132C65.8152 91.454 64.5742 93.4184 62.9906 95.1064C61.5438 96.6915 59.9749 97.8281 58.2869 98.5177C56.5636 97.7943 54.9609 96.6224 53.4787 95.002C51.9275 93.314 50.7042 91.332 49.8087 89.0573C48.8427 86.5753 48.3618 83.9404 48.3618 81.1481L58.2869 77.012L68.2119 81.1481C68.2119 84.011 67.712 86.6988 66.7121 89.2132Z" fill="#1AB4FC"/>
                        <path d="M103.443 69.9014H9.16273C9.02304 69.8911 8.98628 69.897 8.84954 69.8573C8.38931 69.7293 8.03495 69.2956 8.0026 68.8162C7.97319 68.3942 8.19522 67.9634 8.5584 67.7429C8.69515 67.6605 8.8466 67.6061 9.00393 67.5841C9.05686 67.5767 9.1098 67.5767 9.16126 67.5738H18.0129C14.859 64.4933 14.3443 60.7645 15.0883 58.3428C16.0794 55.1256 18.6349 54.5154 21.1331 55.2829C23.8092 56.1107 24.8561 59.3661 24.09 61.8658C24.0047 62.1334 23.868 62.5789 23.5871 63.1788C23.2769 63.8655 22.7005 64.4713 22.4535 65.277C22.18 66.1681 22.5843 66.9415 23.2813 67.5752H34.0533C34.8296 66.8356 35.4134 65.9284 35.7236 64.9109C36.6882 61.7937 34.7179 59.6161 33.9018 58.7824L29.9333 54.5301C28.1188 52.5068 24.1253 46.865 26.0735 40.5291C26.8249 38.0854 28.4055 35.4946 30.7008 33.7786C35.5457 30.1645 40.8141 29.5704 45.8295 31.0143C52.3227 32.8832 55.4399 37.1796 59.4834 40.4997C61.7478 33.8536 64.8841 27.3472 69.6026 21.8583C73.8637 16.859 79.5879 13.236 86.1443 13.011C92.6948 12.7949 97.6471 15.768 97.8103 20.4732C97.8764 22.4759 96.7295 26.3679 92.733 26.5032C89.7438 26.6061 87.6794 24.8182 87.5867 22.1024C87.5529 21.1069 87.8102 20.2365 88.491 19.2175C89.1571 17.9118 89.2997 17.7618 89.2836 17.1943C89.2233 15.4813 86.6413 15.4195 85.9355 15.4519C76.2457 15.7724 73.6917 28.8632 71.6229 39.5058L70.6083 45.1182C76.1884 45.9357 80.1496 44.9285 82.3596 43.4964C85.4709 41.4746 81.4891 39.3969 81.992 37.0988C82.5007 34.755 84.6298 33.6243 86.3222 33.5757C88.6895 33.5169 90.3805 35.9769 90.326 38.4736C90.2408 42.6009 84.7724 48.2707 73.8328 48.0384C72.5007 48.0075 71.2744 47.9148 70.1304 47.7752L68.0675 59.1794C67.519 61.7393 66.9191 64.5771 66.1148 67.5708H103.443L103.601 67.5811C103.652 67.5929 103.705 67.5988 103.756 67.6135C104.164 67.7282 104.495 68.0796 104.581 68.4972C104.689 69.0147 104.399 69.5882 103.906 69.8029C103.809 69.844 103.706 69.8734 103.601 69.8881C103.551 69.897 103.496 69.897 103.443 69.9014ZM53.2799 67.5723C53.4652 66.6313 53.6519 65.6623 53.8416 64.6683L54.5018 60.6557C55.5766 55.2785 56.7676 49.2823 58.5836 43.3067C54.1768 39.9866 51.539 35.8695 45.6134 34.2609C41.5507 33.1581 39.0761 34.0933 37.3351 36.2974C35.2737 38.9073 35.9589 42.3039 37.9498 44.2948L41.2405 47.9398C45.2752 52.6053 47.4807 56.2372 46.6515 61.1218C46.2471 63.5155 45.0929 65.7373 43.3696 67.5708H53.2799V67.5723Z" fill="#1AB4FC"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
